---
site: Pet Photos
---
<head>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>
<body>

    <h1>{{ site }}</h1>
    <nav class="navbar">
    <a href='/'>Home</a>
    <a href="/aboutUs">About Us</a>
</nav>
{{content}}

{% for photo in collections.photos %}
{% if page.url == photo.url%}

<ul>
    <li>
       Keyword: {{photo.data.photo_keyword}}
    </li>
    {% if photo.data.photo_location_city != '' %}
    <li>
        {{photo.data.photo_location_city}}
    </li>
    <li>
        {{photo.data.photo_location_country}}
    </li>
    {%endif%}
    {% if photo.data.photographer_first_name != '' %}
    <li>
        {{photo.data.photographer_first_name}}
    </li>
    <li>
        {{photo.data.photographer_last_name}}
    </li>
    {%endif%}
    <li>
        {{photo.data.photographer_username}}
    </li>
    <li>
      Credit:  {{photo.data.photo_url}}
    </li>
</ul>
{%endif%}
{% endfor %}


    {% unless page.url != '/' %}
    <ul>
        {% for photo in collections.photos %}
            <li>
                
                <a href="{{ photo.url }}">
                    A {{ photo.data.photo_keyword }} photo
                    by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
                    
                   
                </a>
               
            </li>
            
            {% endfor %}

    {% endunless %}
    </ul>

</body>
